{{! # Citation for this file:
# Date: 11/04/2025
# Based on: Exploration - Web Application Technology
# Source URL: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131
#
# Date: 11/17/2025
# Based on: “Exploration - Implementing CUD operations in your app.
# Source URL: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-implementing-cud-operations-in-your-app?module_item_id=25645149 }}

<h1>NewGen Security Management System</h1>
<div class="homepageDescription">
  <p>Use the Navigation bar to view, create and update entity data and
    relationships.</p>
</div>